{% extends 'main/base.html' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
{% load static %}

<!-- Link to the customerprofile.css file -->
<link rel="stylesheet" type="text/css" href="{% static 'users/customerprofile.css' %}">

<div class="profile-container">
    {% if profile.profile_image %}
    <div class="profile-image-container">
        <img src="{{ profile.profile_image.url }}" alt="{{ user.username }}'s Profile Image">
    </div>
    {% else %}
    <div class="update-profile-box">
        <p>Update profile image.</p>
    </div>
    {% endif %}

    <h1>{{ user.username }}'s Profile</h1>
    <p>Email: {{ user.email }}</p>
    <p>Date of Birth: {% if profile.birth %}{{ profile.birth }}{% else %}Not provided{% endif %}</p>

    <p><a href="{% url 'users:update_profile_image' %}" class="update-link">Update Profile Image</a></p>

    <h2>Available Services</h2>
    <ul>
        {% for service in available_services %}
        <li>
            <a href="{% url 'services:service_detail' service.id %}">{{ service.name }}</a> - {{ service.field }} - ${{ service.price_hour }} per hour
            <br>
            Provided by: <a href="{% url 'users:company_profile' username=service.company.user.username %}">{{ service.company.user.username }}</a>
            <br>
            <a href="{% url 'services:request_service' service.id %}" class="details-button">Request Service</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Requested Services</h2>
    <ul>
        {% for request in requested_services %}
        <li>
            <a href="{% url 'services:service_detail' request.service.id %}">{{ request.service.name }}</a> - {{ request.service.field }} - ${{ request.service.price_hour }} per hour
            <br>
            Requested on: {{ request.date_requested }}
            <br>
            Provided by: <a href="{% url 'users:company_profile' username=request.service.company.user.username %}">{{ request.service.company.user.username }}</a>
            <br>
            Duration: {{ request.service_time }} hours
            <br>
            Cost: €{{ request.service_cost }}
        </li>
        {% endfor %}
    </ul>

    <h3>Total Spent: €{{ total_cost }}</h3>
</div>
{% endblock %}
