{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'services/css/serviceslist.css' %}">

<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="home-links">
          <a href="{% url 'services:service_list' %}" class="service-link">
              View All Services (Most Recent First)
          </a>
        </li>

         <!-- Dropdown for category selection -->
         <li class="category-dropdown">
          <form method="get" class="filter-form" action="{% url 'main:services_by_category' 'placeholder' %}" id="categoryForm">
              <label for="field">Filter by Category:</label>
              <select name="field"  id="field" onchange="navigateToCategory(this)">
                  <option value="">Select Category</option>
                  {% for field in fields %}
                      <option value="{{ field }}" {% if field == selected_field %}selected{% endif %}>{{ field }}</option>
                  {% endfor %}
              </select>
          </form>
      </li>

        
        

        {% if request.user.is_authenticated %}
            {% if request.user.is_company %}
                <li><a href="{% url 'users:company_profile' username=request.user.username %}">Profile</a></li>
            {% elif request.user.is_customer %}
                <li><a href="{% url 'users:customer_profile' username=request.user.username %}">Profile</a></li>
            {% endif %}
            <li><a href="{% url 'main:logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'users:register' %}">Register</a></li>
            <li><a href="{% url 'users:login_user' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>

<script>
  function navigateToCategory(selectElement) {
      const selectedValue = selectElement.value;
      const form = document.getElementById('categoryForm');
      if (selectedValue) {
          form.action = `/services/${selectedValue}/`;
          form.submit();
      }
  }
</script>