{% extends 'main/base.html' %}

{% block content %}
<h1>Services</h1>

<!-- Service List -->
<div class="service-list">
    {% for service in services %}
        <div class="service-item">
            <h2>{{ service.title }}</h2>
            <p>{{ service.description|truncatewords:20 }}</p>
            <p><strong>Field:</strong> {{ service.field }}</p>
            <p><strong>Created By:</strong> {{ service.company.user.username }}</p>

            <!-- Links to view service details -->
            <a href="{% url 'services:service_detail' service.id %}">View Details</a>

            <!-- Conditionally display the "Request Service" link for authenticated customers -->
            {% if user.is_authenticated and user.is_customer %}
                <a href="{% url 'services:request_service' service.id %}">Request Service</a>
            {% else %}
                <p><a href="{% url 'users:login_user' %}">Login to request service</a></p>
            {% endif %}
        </div>
    {% empty %}
        <p>No services available.</p>
    {% endfor %}
</div>
{% endblock %}
